<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="preprocess">

    <insert id="insertTbTaskRun" parameterType="kr.go.spo.dto.TaskRunDto">
        INSERT INTO tb_task_run
        (
          process_instance_id
        , task_instance_id
        , case_id
        , task_status
        , task_start_time
        , task_suspend_time
        , task_end_time
        )
        VALUES
            (
              #{processInstanceId}
            , #{taskInstanceId}
            , #{caseId}
            , #{taskStatus}
            , #{taskStartTime}
            , #{taskSuspendTime}
            , #{taskEndTime}
            )
    </insert>

    <update id="mergeTbTaskRun" parameterType="kr.go.spo.dto.TaskRunDto">
        MERGE
            INTO tb_task_run A
                USING DUAL
                ON ( A.PROCESS_INSTANCE_ID  = 'process_instance_id'
                    AND A.TASK_INSTANCE_ID  = 'task_instance_id'
                    )
                WHEN MATCHED THEN
                    UPDATE SET
                          A.task_status  = #{taskStatus}
                    <if test='taskStartTime != null'>
                        , A.task_start_time   = #{taskStartTime}
                    </if>
                    <if test='taskSuspendTime != null'>
                        , A.task_suspend_time = #{taskSuspendTime}
                    </if>
                    <if test='taskEndTime != null'>
                        , A.task_end_time   = #{taskEndTime}
                    </if>
                WHEN NOT MATCHED THEN
                    INSERT
                        (
                              process_instance_id
                            , task_instance_id
                            , case_id
                            , task_status
                            , task_start_time
                            , task_suspend_time
                            , task_end_time
                            )
                        VALUES
                            (
                              #{processInstanceId}
                            , #{taskInstanceId}
                            , #{caseId}
                            , #{taskStatus}
                            , #{taskStartTime}
                            , #{taskSuspendTime}
                            , #{taskEndTime}
                            )
    </update>


    <update id="updateTbTaskRun" parameterType="kr.go.spo.dto.TaskRunDto">
        UPDATE tb_task_run
        SET
            task_status       = #{taskStatus}
        <if test='taskStartTime != null'>
            , task_start_time   = #{taskStartTime}
        </if>
        <if test='taskSuspendTime != null'>
            , task_suspend_time   = #{taskSuspendTime}
        </if>
        <if test='taskEndTime != null'>
            , task_end_time   = #{taskEndTime}
        </if>
        WHERE 1=1
          AND process_instance_id = #{processInstanceId}
          AND task_instance_id = #{taskInstanceId}
    </update>






    <insert id="insertTbProcessInstance" parameterType="kr.go.spo.dto.ProcessInstanceDto">
        INSERT INTO TB_PROCESS_INSTANCE
        (
          PROCESS_INSTANCE_ID
        , CASE_ID
        , STATUS
        , START_TIME
        , SUSPEND_TIME
        , END_TIME

        )
        VALUES
            (
              #{processInstanceId}
            , #{caseId}
            , #{status}
            , #{startTime}
            , #{suspendTime}
            , #{endTime}
            )
    </insert>
    <update id="updateTbProcessInstance" parameterType="kr.go.spo.dto.ProcessInstanceDto">
        UPDATE TB_PROCESS_INSTANCE
        SET
        status       = #{status}
        <if test='startTime != null'>
            , start_time   = #{startTime}
        </if>
        <if test='suspendTime != null'>
            , suspend_time   = #{suspendTime}
        </if>
        <if test='endTime != null'>
            , end_time   = #{endTime}
        </if>
        WHERE 1=1
        AND process_instance_id = #{processInstanceId}
    </update>
</mapper>
