<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="preprocess">

    <select id="selectTbTaskRunByPk" parameterType="kr.go.spo.dto.TaskRunDto" resultType="kr.go.spo.dto.TaskRunDto" >
        SELECT
               PROCESS_INSTANCE_ID
             , TASK_ACTIVITY_ID
             , TASK_INSTANCE_ID
             , CASE_ID
             , TASK_STATUS
             , TASK_START_TIME
             , TASK_SUSPEND_TIME
             , TASK_END_TIME
         FROM TB_TASK_RUN
        WHERE 1=1
          AND PROCESS_INSTANCE_ID = #{processInstanceId}
          AND TASK_ACTIVITY_ID = #{taskActivityId}
    </select>
    <insert id="insertTbTaskRunHstByPk" parameterType="kr.go.spo.dto.TaskRunHstDto">
        --insertTbTaskRunHstByPk
        INSERT INTO TB_TASK_RUN_HST
        SELECT
               SEQ_TASK_RUN_HST.NEXTVAL
             , A.*
        FROM   TB_TASK_RUN A
        WHERE  1=1
        AND    A.PROCESS_INSTANCE_ID = #{processInstanceId}
        AND    A.TASK_ACTIVITY_ID = #{taskActivityId}

    </insert>

    <insert id="insertTbTaskRun" parameterType="kr.go.spo.dto.TaskRunDto">
        INSERT INTO TB_TASK_RUN
        (
          PROCESS_INSTANCE_ID
        , TASK_ACTIVITY_ID
        , TASK_INSTANCE_ID
        , CASE_ID
        , TASK_STATUS
        <if test='taskStartTime != null'>
        , TASK_START_TIME
        </if>
        <if test='taskSuspendTime != null'>
        , TASK_SUSPEND_TIME
        </if>
        <if test='taskEndTime != null'>
        , TASK_END_TIME
        </if>
        , UPDATE_TIME
        )
        VALUES
            (
              #{processInstanceId}
            , #{taskActivityId}
            , #{taskInstanceId}
            , #{caseId}
            , #{taskStatus}
        <if test='taskStartTime != null'>
            , TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
        </if>
        <if test='taskSuspendTime != null'>
            , TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
        </if>
        <if test='taskEndTime != null'>
            , TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
        </if>
            , TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
            )
    </insert>

    <update id="mergeTbTaskRun" parameterType="kr.go.spo.dto.TaskRunDto">
        MERGE
            INTO tb_task_run A
                USING DUAL
                ON ( A.PROCESS_INSTANCE_ID  = #{processInstanceId}
                    AND A.TASK_ACTIVITY_ID  = #{taskActivityId}
                    )
                WHEN MATCHED THEN
                    UPDATE SET
                          A.TASK_STATUS  = #{taskStatus}
                    <if test='taskStartTime != null'>
                        , A.TASK_START_TIME   = TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
                    </if>
                    <if test='taskSuspendTime != null'>
                        , A.TASK_SUSPEND_TIME = TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
                    </if>
                    <if test='taskEndTime != null'>
                        , A.TASK_END_TIME   = TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
                    </if>
                        , A.UPDATE_TIME   = TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
                WHEN NOT MATCHED THEN
                    INSERT
                        (
                              PROCESS_INSTANCE_ID
                            , TASK_ACTIVITY_ID
                            , TASK_INSTANCE_ID
                            , CASE_ID
                            , TASK_STATUS
                            , TASK_START_TIME
                            , TASK_SUSPEND_TIME
                            , TASK_END_TIME
                            , UPDATE_TIME
                            )
                        VALUES
                            (
                              #{processInstanceId}
                            , #{taskActivityId}
                            , #{taskInstanceId}
                            , #{caseId}
                            , #{taskStatus}
                            , #{taskStartTime}
                            , #{taskSuspendTime}
                            , #{taskEndTime}
                            , TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
                            )
    </update>


    <update id="updateTbTaskRun" parameterType="kr.go.spo.dto.TaskRunDto">
        UPDATE tb_task_run
        SET
            TASK_STATUS       = #{taskStatus}
        <if test='taskStartTime != null'>
            , TASK_START_TIME   = TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
        </if>
        <if test='taskSuspendTime != null'>
            , TASK_SUSPEND_TIME   = TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
        </if>
        <if test='taskEndTime != null'>
            , TASK_END_TIME   = TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
        </if>
            , UPDATE_TIME   = TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
        WHERE 1=1
          AND PROCESS_INSTANCE_ID = #{processInstanceId}
          AND TASK_ACTIVITY_ID = #{taskActivityId}
    </update>


    <insert id="insertTbProcessInstance" parameterType="kr.go.spo.dto.ProcessInstanceDto">
        INSERT INTO TB_PROCESS_INSTANCE
        (
          PROCESS_INSTANCE_ID
        , CASE_ID
        , STATUS
        , START_TIME
        , SUSPEND_TIME
        , END_TIME
        , UPDATE_TIME
        )
        VALUES
            (
              #{processInstanceId}
            , #{caseId}
            , #{status}
            , TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
            , NULL
            , NULL
            , TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
            )
    </insert>


    <update id="updateTbProcessInstance" parameterType="kr.go.spo.dto.ProcessInstanceDto">
        UPDATE TB_PROCESS_INSTANCE
        SET
        STATUS       = #{status}
        <if test='startTime != null'>
            , START_TIME   = TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
        </if>
        <if test='suspendTime != null'>
            , SUSPEND_TIME   = TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
        </if>
        <if test='endTime != null'>
            , END_TIME   = TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
        </if>
        , UPDATE_TIME   = TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MISSFF3')
        WHERE 1=1
        AND PROCESS_INSTANCE_ID = #{processInstanceId}
    </update>

    <select id="selectListChkSuspendedProcess" parameterType="kr.go.spo.dto.TaskRunDto" resultType="kr.go.spo.dto.TaskRunDto" >
        SELECT T.TASK_ACTIVITY_ID
             , T.PROCESS_INSTANCE_ID
        FROM (
                 SELECT B.TASK_ACTIVITY_ID
                      , A.START_TIME
                      , A.PROCESS_INSTANCE_ID
                      , ROW_NUMBER () OVER (PARTITION BY B.TASK_ACTIVITY_ID ORDER BY A.START_TIME) AS RN
                 FROM   TB_PROCESS_INSTANCE A
                      , TB_TASK_RUN B
                 WHERE  1=1
                 AND    A.PROCESS_INSTANCE_ID = B.PROCESS_INSTANCE_ID
                 AND    A.STATUS = '재시작'
                 AND    B.TASK_STATUS != '정상종료'
             ) T
        WHERE  1 = 1
        AND    T.RN = 1
    </select>



</mapper>
