<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="test">

    <select id="selectTest" resultType="java.util.Map">
        SELECT
        TASK_INSTANCE_ID
        , PROCESS_INSTANCE_ID
        , CASE_ID
        , TASK_STATUS
        , TASK_START_TIME
        , TASK_END_TIME
        FROM   TB_TASK_RUN
        WHERE  ROWNUM &lt; 10

    </select>

    <select id="selectTest2" resultType="kr.go.spo.dto.TaskRunDto">
        SELECT
        TASK_INSTANCE_ID
        , PROCESS_INSTANCE_ID
        , CASE_ID
        , TASK_STATUS
        , TASK_START_TIME
        , TASK_END_TIME
        FROM   TB_TASK_RUN
        WHERE  ROWNUM &lt; 2

    </select>

    <select id="dummy" resultType="java.util.Map">
        SELECT
            name
             , val
        FROM tb_dummy A
        WHERE 1=1
    </select>

</mapper>
